html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

label {
  font-weight: bold;
}

canvas {
  border: 1px solid #000;
}

form {
  margin-bottom: 5px;
}

input[type="range"] {
  vertical-align: middle;
}

:global(#iterations) {
  width: 60px;
}

:global(#fps) {
  width: 60px;
}
